{% extends 'admin/master.html' %}

{% block body %}
<h1> Welcome to GEMINI admin panel</h1>

<div>
    In this panel you can assign project to user with one-to-many relationship using <b>Group</b>. You also can assign a user's <b>role</b> as admin. Admin can do several things: create new user, delete project, assign project, etc. (see: documentation)
</div>
<div>
    <br>
    <input type="button" value="Back to Homepage" onclick="back_to_homepage()">

</div>

{% endblock %}


{% block tail %}
<script>
    function back_to_homepage() {
        window.location.href="{{ url_for('main.index') }}"
    }
</script>
{% endblock %}