{% extends "base.html" %}

{% block title %}

<div class="col-lg-12">
    <h1 class="page-header">Production Well Performance</h1>
</div>

{% endblock %}

{% block content %}
<div class="col-lg-12">
    <label>Production Well Name</label>
    <select class='form-control' style='width: 200px;' id='select_well' value="">
    </select>
    <br>
</div>

<div class="col-lg-4">
    <div class="card ">
        <div class="card-header">
            <h2>Reservoir Parameters</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> Reservoir Pressure [bar]</td>
                        <td><input class='form-control' id='reservoir_pressure' value=""
                                style="color:white" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td> Productivity Index [m3/h/bar]</td>
                        <td><input class='form-control' id='productivity_index' value=""
                                style="color:white" disabled></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h2>ESP Parameters</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> Pump Type</td>
                        <td><input class='form-control' id='esp_type' value="" style="color:white" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td> No. Stages</td>
                        <td><input class='form-control' id='esp_no_stage' value="" style="color:white" disabled></td>
                    </tr>
                    <tr>
                        <td> Location depth [m]</td>
                        <td><input class='form-control' id='esp_depth' value="" style="color:white" disabled></td>
                    </tr>
                    <tr>
                        <td> Tubing size [m]</td>
                        <td><input class='form-control' id='esp_tubing' value="" style="color:white" disabled></td>
                    </tr>
                    <tr>
                        <td> Frequency [Hz]</td>
                        <td><input class='form-control' id='esp_frequency' value="60" style="color:white"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h2>Well Parameters</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> Wellhead pressure [bar]</td>
                        <td><input class='form-control' id='well_whp' value=10 style="color:white">
                        </td>
                    </tr>
                    <tr>
                        <td> Wellhead temperature [C]</td>
                        <td><input class='form-control' id='well_wht' value=80 style="color:white">
                        </td>
                    </tr>
                    <tr>
                        <td> Soil temperature [C]</td>
                        <td><input class='form-control' id='soil_temperature' value="" style="color:white" disabled>
                        </td>
                    </tr>
                </tbody>
            </table>
            <label>Well Trajectory</label>
            <div id="plotWellTrajectory" class="responsive-plot">
            </div>
        </div>
    </div>

</div>

<div class="col-lg-8">
    <div class="card ">
        <div class="card-header">
            <h2>IPR / VLP Plot</h2>
        </div>
        <div class="card-body">
            <div class="col-lg-12" align='center'>
                <input type="button" id="save" value="Calculate" onclick="calculate();"
                    class="btn btn-info btn-sm">
                <div id="plotVLPIPR" class="responsive-plot">
                </div>
            </div>
            <div class="col-lg-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td> Flowrate solution [m3/h]</td>
                            <td><input class='form-control' id='result_flow' value="" style="color:white" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td> Bottomhole pressure [bar]</td>
                            <td><input class='form-control' id='result_bhp' value="" style="color:white" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td> ESP pump head [bar]</td>
                            <td><input class='form-control' id='result_esp_head' value="" style="color:white" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td> ESP intake pressure [bar]</td>
                            <td><input class='form-control' id='result_intake_pressure' value="" style="color:white" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td> ESP discharge pressure [bar]</td>
                            <td><input class='form-control' id='result_discharge_pressure' value="" style="color:white" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td> ESP power [Watt]</td>
                            <td><input class='form-control' id='result_esp_power' value="" style="color:white" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td> ESP efficiency [%]</td>
                            <td><input class='form-control' id='result_esp_efficiency' value="" style="color:white" disabled>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='page/app_example_js/js/api.js') }}"></script>

{% endblock %}