<html>
<body>
        <p>
        {% extends "base.html" %}

    {% block title %}
        </p>
        <div class="col-lg-12">
        <h1 class="page-header">
            Visualisation App
        </h1>
        </div>
        {% endblock%}

    {% block content %}
        <div class="card full-width-panel">
            <h3 class="card-header">
                Scenario selection
            </h3>
            <div class="card-body">
                <div class="panel panel-default">
                    <label class="mr-2" for="results_list" style="margin-right: 10px; font-size: 16px">
                        Scenario Name:
                    </label>
                    <select class="form-Input" style="width: 200px; height: 30px;" id="results_list">
                        <!-- The dropdown will be dynamically updated by the JavaScript -->
                    </select>
                </div>
            </div>

            <h3 class="card-header">
                Plots
            </h3>
            <div class="card-body">
                <div class="panel panel-default">
                    <div id="objective_func_plot" style="width:100%; height:500px;"></div>
                </div>
                <div class="panel panel-default">
                    <div id="scaled_control_plot" style="width:100%; height:500px;"></div>
                </div>
                <div class="panel panel-default">
                    <div id="control_profiles_plot" style="width:100%; height:500px;"></div>
                </div>
                <div class="panel panel-default">
                    <div id="power_profiles_plot" style="width:100%; height:500px;"></div>
                </div>
                <div class="panel panel-default">
                    <div id="hydrogen_profiles_plot" style="width:100%; height:500px;"></div>
                </div>
                <div class="panel panel-default">
                    <div id="mismatch_plot" style="width:100%; height:500px;"></div>
                </div>
                <div class="panel panel-default">
                    <div id="kpi_plot" style="width:100%; height:500px;"></div>
                </div>
                <div class="panel panel-default">
                    <div id="hydrogen_storage_plot" style="width:100%; height:500px;"></div>
                </div>
            </div>
        </div>
    {% endblock %}

        <!-- Bootstrap JS and dependencies -->



{% block script %}

    <!-- LINKS TO THE EXTERNAL JAVASCRIPT FILES -->
<!--        Templates-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.4/joint.css" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='vendor/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='vendor/dataTables/dataTables.responsive.css') }}" rel="stylesheet"/>

<!--        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.4/joint.js"></script>
        <script src="{{ url_for('static', filename='vendor/dataTables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/dataTables/dataTables.bootstrap.min.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!--        Visualization app js code-->
        <script src="{{ url_for('static', filename='page/app_visualisation/js/api.js') }}"></script>

<!--        For plotting-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        {% endblock %}
</body>
</html>
