<!--<html>-->
<!--<body>-->
<!--            ====================================================================================-->
<!--                                                 LEFT COLUMN                                    -->
<!--            ====================================================================================-->
<html>
<body>
    <div class="row" >
        <div class="col-4">
        <div class="card full-width-panel">
            <!--Electrolyser parameters table-->
            <h3 class="card-header">
            Electrolyser parameters
            </h3>
            <div class="card-body">
            <div class="panel panel-default">
                <div class="panel-body">
                <table class="table table-bordered" id="electrolyser_parameters">
                    <thead>
                    <tr>
                        <th>
                        Parameter
                        </th>
                        <th>
                        Value
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                        <input class="form-control" id="T_cell" value="Cell temperature [K]"/>
                        </td>
                        <td>
                        <input class="form-control" id="T_cell_value" value="313.15"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input class="form-control" id="P_cathode" value="Cathode Pressure [bar]"/>
                        </td>
                        <td>
                        <input class="form-control" id="P_cathode_value" value="100"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input class="form-control" id="P_anode" value="Anode Pressure [bar]"/>
                        </td>
                        <td>
                        <input class="form-control" id="P_anode_value" value="100"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input class="form-control" id="P_0_H2O" value="Initial H2O pressure [bar]"/>
                        </td>
                        <td>
                        <input class="form-control" id="P_0_H2O_value" value="100"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input class="form-control" id="eta_Faraday_array" value="Faraday's efficiency [-]"/>
                        </td>
                        <td>
                        <input class="form-control" id="eta_Faraday_array_value" value="1"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input class="form-control" id="Faraday_const" value="Faraday constant [(s*A)/mol]"/>
                        </td>
                        <td>
                        <input class="form-control" id="Faraday_const_value" value="96485.3329"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input class="form-control" id="A_cell" value="Cell surface area [m^2]"/>
                        </td>
                        <td>
                        <input class="form-control" id="A_cell_value" value="0.436"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input class="form-control" id="cell_type" value="Cell type"/>
                        </td>
                        <td>
                        <input class="form-control" id="cell_type_value" value="low_power_cell"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input class="form-control" id="capacity" value="Capacity [MW]"/>
                        </td>
                        <td>
                        <input class="form-control" id="capacity_value" value="1"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
            <!-- Hydrogen storage parameters table-->
            <h3 class="card-header">
            Hydrogen storage parameters
            </h3>
            <div class="card-body">
            <div class="panel panel-default">
                <div class="panel-body">
                <table class="table table-bordered" id="hydrogen_storage_parameters">
                    <thead>
                    <tr>
                        <th>
                        Parameter
                        </th>
                        <th>
                        Value
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                        <input class="form-control" id="storage_capacity" value="Maximum capacity [kg H2]"/>
                        </td>
                        <td>
                        <input class="form-control" id="storage_capacity_value" value="3000"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input class="form-control" id="initial_mass" value="Initial mass content [kg H2]"/>
                        </td>
                        <td>
                        <input class="form-control" id="initial_mass_value" value="1000"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!--            ====================================================================================-->
        <!--                                                 MIDDLE COLUMN                                    -->
        <!--            ====================================================================================-->
        <div class="col-8">
        <div class="card full-width-panel">
            <h3 class="card-header">
            Input profiles
            </h3>
            <div class="card-body">
            <div class="panel panel-default">
                <div class="panel-body">
                <table class="table table-bordered" id="input_profiles">
                    <thead>
                    <tr>
                        <th>
                        Parameter
                        </th>
                        <th>
                        Profile
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                        <div class="form-control" id="power_supply_profile_label">
                            Power supply (dimensionless with range: [0, 1])
                        </div>
                        </td>
                        <td>
<!--                        <select class="form-control" id="power_supply_profile" style="background-color: white; color: black;">-->
<!--                            <option value="profile_1">-->
<!--                            Supply profile 1-->
<!--                            </option>-->
<!--                            <option value="profile_2">-->
<!--                            Supply profile 2-->
<!--                            </option>-->
<!--                            <option value="load_csv">-->
<!--                            Load CSV...-->
<!--                            </option>-->
<!--                        </select>-->
<!--                        <input accept=".csv" id="power_supply_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>-->
                        <button class="btn btn-primary" id="power_supply_profile_button" style="background-color: white; color: black;">
                            Load CSV
                        </button>
                        <input accept=".csv" id="power_supply_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <div class="form-control" id="power_demand_profile_label">
                            Power demand (dimensionless with range: [0, 1])
                        </div>
                        </td>
                        <td>
<!--                        <select class="form-control" id="power_demand_profile" style="background-color: white; color: black;">-->
<!--                            <option value="profile_1">-->
<!--                            Demand profile 1-->
<!--                            </option>-->
<!--                            <option value="profile_2">-->
<!--                            Demand profile 2-->
<!--                            </option>-->
<!--                            <option value="load_csv">-->
<!--                            Load CSV...-->
<!--                            </option>-->
<!--                        </select>-->
<!--                        <input accept=".csv" id="power_demand_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>-->
                        <button class="btn btn-primary" id="power_demand_profile_button" style="background-color: white; color: black;">
                            Load CSV
                        </button>
                        <input accept=".csv" id="power_demand_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <div class="form-control" id="hydrogen_demand_profile_label">
                            Hydrogen demand (dimensionless with range: [0, 1])
                        </div>
                        </td>
                        <td>
<!--                        <select class="form-control" id="hydrogen_demand_profile" style="background-color: white; color: black;">-->
<!--                            <option value="profile_1">-->
<!--                            Demand profile 1-->
<!--                            </option>-->
<!--                            <option value="profile_2">-->
<!--                            Demand profile 2-->
<!--                            </option>-->
<!--                            <option value="load_csv">-->
<!--                            Load CSV...-->
<!--                            </option>-->
<!--                        </select>-->
<!--                        <input accept=".csv" id="hydrogen_demand_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>-->
                        <button class="btn btn-primary" id="hydrogen_demand_profile_button" style="background-color: white; color: black;">
                            Load CSV
                        </button>
                        <input accept=".csv" id="hydrogen_demand_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <button type="button" class="btn btn-primary btn-sm" id="toggleButton" onclick="togglePanels()">Switch modes</button>
        </div>
<!--    ============================= Simulation mode panel ============================= -->
        <div class="card full-width-panel" id="simulation_parameters_panel" style="display: block;">

            <h3 class="card-header">
            Simulation mode
            </h3>
            <div class="card-body">
            <div class="panel panel-default">
                <div class="panel-body">
                <table class="table table-bordered" id="control_profiles">
                    <thead>
                    <tr>
                        <th>
                        Parameter
                        </th>
                        <th>
                        Value
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                        <div class="form-control" id="power_splitter_profile_label">
                            Power splitter control profile (dimensionless with range: [0, 1])
                        </div>
                        </td>
                        <td>
<!--                        <select class="form-control" id="power_splitter_profile" style="background-color: white; color: black;">-->
<!--                            <option value="profile_1">-->
<!--                            Control profile 1-->
<!--                            </option>-->
<!--                            <option value="profile_2">-->
<!--                            Control profile 2-->
<!--                            </option>-->
<!--                            <option value="load_csv">-->
<!--                            Load CSV...-->
<!--                            </option>-->
<!--                        </select>-->
<!--                        <input accept=".csv" id="power_splitter_control_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>-->
                        <button class="btn btn-primary" id="power_splitter_control_profile_button" style="background-color: white; color: black;">
                            Load CSV
                        </button>
                        <input accept=".csv" id="power_splitter_control_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <div class="form-control" id="hydrogen_splitter_profile_label">
                            Hydrogen splitter control profile (dimensionless with range: [0, 1])
                        </div>
                        </td>
                        <td>
<!--                        <select class="form-control" id="hydrogen_splitter_profile" style="background-color: white; color: black;">-->
<!--                            <option value="profile_1">-->
<!--                            Control profile 1-->
<!--                            </option>-->
<!--                            <option value="profile_2">-->
<!--                            Control profile 2-->
<!--                            </option>-->
<!--                            <option value="load_csv">-->
<!--                            Load CSV...-->
<!--                            </option>-->
<!--                        </select>-->
<!--                        <input accept=".csv" id="hydrogen_splitter_control_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>-->
                        <button class="btn btn-primary" id="hydrogen_splitter_control_profile_button" style="background-color: white; color: black;">
                            Load CSV
                        </button>
                        <input accept=".csv" id="hydrogen_splitter_control_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <div class="form-control" id="gas_storage_profile_label">
                            Gas storage control profile (dimensionless with range: [0, 1])
                        </div>
                        </td>
                        <td>
<!--                        <select class="form-control" id="gas_storage_profile" style="background-color: white; color: black;">-->
<!--                            <option value="profile_1">-->
<!--                            Control profile 1-->
<!--                            </option>-->
<!--                            <option value="profile_2">-->
<!--                            Control profile 2-->
<!--                            </option>-->
<!--                            <option value="load_csv">-->
<!--                            Load CSV...-->
<!--                            </option>-->
<!--                        </select>-->
<!--                        <input accept=".csv" id="gas_storage_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>-->
                        <button class="btn btn-primary" id="gas_storage_profile_button" style="background-color: white; color: black;">
                            Load CSV
                        </button>
                        <input accept=".csv" id="gas_storage_profile_csv" onchange="handleFileSelect(event)" style="display: none;" type="file"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        </div>


        <!--    ============================= Optimization mode panel ============================= -->
        <div class="card full-width-panel" id="optimization_parameters_panel" style="display: none;">

            <h3 class="card-header">
                Optimization mode
            </h3>
            <div class="card-body">
                <div style="display: inline-flex; align-items: center;">
                    <label class="mr-2" for="optimization_method" style="margin-right: 10px;">
                        Optimization method:
                    </label>
                    <select class="form-control" id="optimization_method" style="background-color: white; color: black; width: auto; min-width: 170px;">
                        <option value="trust-constr">trust-constr</option>
                        <option value="L-BFGS-B">L-BFGS-B</option>
                        <option value="Powell">Powell</option>
                        <option value="differential-evolution">differential-evolution</option>
                    </select>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-bordered" id="control_parameters">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Initial Value</th>
                                    <th>Lower Bound</th>
                                    <th>Upper Bound</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-control" id="power_splitter_parameters">
                                            Power splitter (dimensionless with range: [0, 1])
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="power_splitter_initial_value" placeholder="Enter initial value" value="0.5">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="power_splitter_lower_bound" placeholder="Enter lower bound" value="0.0">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="power_splitter_upper_bound" placeholder="Enter upper bound" value="1.0">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-control" id="hydrogen_splitter_parameters">
                                            Hydrogen splitter (dimensionless with range: [0, 1])
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="hydrogen_splitter_initial_value" placeholder="Enter initial value" value="0.5">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="hydrogen_splitter_lower_bound" placeholder="Enter lower bound" value="0.0">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="hydrogen_splitter_upper_bound" placeholder="Enter upper bound" value="1.0">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-control" id="gas_storage_parameters">
                                            Gas storage (dimensionless with range: [0, 1])
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="gas_storage_initial_value" placeholder="Enter initial value" value="0.5">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="gas_storage_lower_bound" placeholder="Enter lower bound" value="0.0">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="gas_storage_upper_bound" placeholder="Enter upper bound" value="1.0">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        </div>
        </div>
    </div>
    <!--</body>-->
    <!--</html>-->
</body>
</html>
