<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TNO POLLUX</title>


    <link href="{{ url_for('static', filename='vendor/font-awesome/font-awesome.min.css') }}" rel="stylesheet"
        type="text/css">

    <!-- Nucleo Icons -->
    <link href="{{ url_for('static', filename='assets/css/nucleo-icons.css')}}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='assets/css/black-dashboard.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}" rel="stylesheet"
        type="text/css" />

    <link href="{{ url_for('static', filename='vendor/waitme/waitMe.css') }}" type="text/css" rel="stylesheet">

    <style>
        .warning {
            color: red;
            font-size: 12px;
            margin-top: 5px;
            display: none;
        }

        /* Parameters Overview table -- Define styles for each column */
        .column-header {
            color: 'white';
        }
        .parameter-name {
            color: white;
        }

        .parameters_table, .tagnames_table {
            width: 100%;
        }

        .parameters_table th, .parameters_table td,
        .tagnames_table th, .tagnames_table td {
            width: 50%;
            text-align: left;
        }

    </style>

</head>

<body>

    <div id="wrapper">
        {% if session.project_name %}
        <div class="sidebar" data="blue">
            <div class="sidebar-wrapper">
                <ul class="nav">

                    <li>
                        <a href="{{ url_for('main.index') }}"><i class="tim-icons icon-chart-pie-36"></i>
                            Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="tim-icons icon-app"></i> Application</a>
                        <ul>
                            <li>
                                <a href="/app/diagram"><i class="tim-icons icon-vector"></i>Diagram
                                    Builder</a>
                            </li>
                            <li>
                                <a href="/app/scenarioanalysis"><i class="tim-icons icon-vector"></i>Scenario Analysis</a>
                            </li>
                            <li>
                                <a href="/app/timeseriesviewer"><i class="tim-icons icon-chart-bar-32"></i>Timeseries
                                    Viewer</a>
                            </li>
                            <li>
                                <a href="/app/app_electrolyser"><i class="tim-icons icon-bullet-list-67"></i>Electrolyser</a>
                            </li>
                            <li>
                                <a href="/app/app_heatpump"><i class="tim-icons icon-bullet-list-67"></i>Heat pump</a>
                            </li>
<!--                            <li>-->
<!--                                <a href="/app/example_app_route"><i-->
<!--                                        class="tim-icons icon-sound-wave"></i>Example App</a>-->
<!--                            </li>-->

<!--                            <li>-->
<!--                                <a href="/app/tagbrowser"><i class="tim-icons icon-tag"></i>Tag Browser</a>-->
<!--                            </li>-->

<!--                            <li>-->
<!--                                <a href="/app/parameters_overview"><i class="tim-icons icon-bullet-list-67"></i>Parameters overview</a>-->
<!--                            </li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="tim-icons icon-settings-gear-63"></i> Settings</a>
                        <ul>
                            <li>
                                <a href="/setting/plant"><i class="fa fa-database"></i>Plant Configuration</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="tim-icons icon-paper"></i> Info</a>
                        <ul>
                            <li>
                                <a href="/report"><i class="tim-icons icon-double-right"></i>Report</a>
                            </li>
                            <li>
                                <a href="/documentation" target="_blank"><i
                                        class="tim-icons icon-double-right"></i>Documentation</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="main-panel" data="blue">
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <a class="navbar-brand"><img src="../static/images/tno.png" alt="tno-logo1"
                            style="height:45px" /><img src="../static/images/pollux_logo_white_background.png"
                            alt="tno-logo1" style="height:45px" /></a>
                    <ul class="navbar-nav ml-xl">
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                File <i class="tim-icons icon-minimal-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-navbar">
                                <li class="nav-item dropdown-item"><a onclick="create_new_project()"><i
                                            class="fa fa-folder-o"></i>New Project</a>
                                </li>
                                <li class="nav-item dropdown-item" data-toggle="modal" href="#myProjectModal"><i
                                        class="fa fa-folder-open"></i>Open Project
                                </li>
                                {% if session.project_name %}
                                <li class="nav-item dropdown-item"><a onclick="close_project()"><i
                                            class="fa fa-close"></i>Close Project</a>
                                </li>
                                {% if current_user.role == 'admin' %}
                                <li class="dropdown-divider"></li>
                                <li class="nav-item dropdown-item"><a onclick="delete_project()"><i
                                            class="fa fa-trash-o"></i>Delete
                                        Project</a>
                                </li>
                                {% endif %}
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown nav-item">
                            <div style="margin-top: 0.5rem">
                                Project Name:
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <input class='form-control' style='width: 200px;color: rgb(255, 255, 255)'
                                id='select_project' value="{{ session.project_name }}" disabled>
                        </li>

                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                {% if current_user.is_authenticated %}
                                {{ current_user.name }}
                                {% endif %}
                                {% if not current_user.is_authenticated %}
                                anonymous
                                {% endif %}
                                <div class="photo">
                                    <img src="{{ url_for('static', filename='assets/img/anime3.png')}}"
                                        alt="Profile Photo">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-navbar">
                                {% if not current_user.is_authenticated %}
                                <li><a href="{{ url_for('auth.login') }}" class="nav-item dropdown-item"><i
                                            class="tim-icons icon-single-02"></i>Login</a>
                                </li>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                <li class="nav-link"><a href="{{ url_for('auth.logout') }}"
                                        class="nav-item dropdown-item"><i class="tim-icons icon-user-run"></i>Log
                                        out</a>
                                </li>
                                <li class="nav-link"><a href="{{ url_for('auth.password') }}"
                                    class="nav-item dropdown-item"><i class="tim-icons icon-refresh-02"></i>Change Password</a>
                                </li>
                                {% if current_user.role == 'admin' %}
                                <li><a href="{{ url_for('auth.signup') }}" class="nav-item dropdown-item"><i
                                    class="tim-icons icon-tap-02"></i>Add User</a>
                                </li>
                                <li><a href="/admin" class="nav-item dropdown-item"><i
                                            class="tim-icons icon-badge"></i>Admin Manager</a>
                                </li>
                                {% endif %}
                                {% endif %}
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>


            <div class="content">
                <div class="row">
                    {% if session.project_name %}

                    {% block title %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}

                    {% endif %}

                    {% if not session.project_name %}
                    <div class="alert alert-warning">
                        Please create a new project or open an existing project!
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <footer class="page-footer">

                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel1" style="color: black">Load Existing Project</h3>
                </div>
                <div class="modal-body">
                    <select style='width: 300px;height: 30px' id='project_name_list'>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <input type="button" value="Open" class="btn btn-info" onclick="open_project();" />
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='assets/js/core/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/core/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js')}}"></script>


<script src="{{ url_for('static', filename='vendor/js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/plotly-2.16.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/math.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/morris.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/waitme/waitMe.js') }}"></script>

<script>
    var current_effect = 'roundBounce'; //

    function run_waitMe(effect) {
        $('#container').waitMe({
            effect: effect,
            text: 'Please waiting...',
            bg: 'rgba(255,255,255,0.7)',
            color: '#000'
        });
    }

    run_waitMe(current_effect)
</script>


<script src="{{ url_for('static', filename='page/project.js') }}"></script>




{% if session.project_name %}

{% block script %}
{% endblock %}

{% endif %}


</html>