<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TNO POLLUX</title>

    <link
        href="{{ url_for('static', filename='assets/fonts/fonts.googleapis.com_css_family=Poppins_200,300,400,600,700,800.css')}}"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/fonts/use.fontawesome.com_releases_v5.0.6_css_all.css')}}"
        rel="stylesheet">

    <!-- Nucleo Icons -->
    <link href="{{ url_for('static', filename='assets/css/nucleo-icons.css')}}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='assets/css/black-dashboard.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}" rel="stylesheet"
        type="text/css" />
</head>

<body>
    <div id="wrapper">
        <div class="main-panel" data="blue">
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <ul class="navbar-nav ml-auto">
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                {% if not current_user.is_authenticated %}
                                anonymous
                                {% endif %}
                                <div class="photo">
                                    <img src="{{ url_for('static', filename='assets/img/anime3.png')}}"
                                        alt="Profile Photo">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-navbar">
                                {% if not current_user.is_authenticated %}
                                <li>
                                    <a class="nav-item dropdown-item" href="{{ url_for('auth.login') }}">
                                        <i class="tim-icons icon-single-02">
                                        </i>
                                        Login
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-item dropdown-item" href="{{ url_for('auth.signup') }}">
                                        <i class="tim-icons icon-tap-02">
                                        </i>
                                        Sign Up
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>


            <div class="content">
                <div class="row">
                    {% block title %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="row">
                    <footer class="page-footer">

                    </footer>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="{{ url_for('static', filename='assets/js/core/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/core/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js')}}"></script>

<script src="{{ url_for('static', filename='vendor/js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/plotly-2.16.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/math.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/morris.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/waitme/waitMe.js') }}"></script>

{% block script %}
{% endblock %}


</html>